<%= provide :title, @user.name %>
<div class="page-header">
  <div class="inner">
    <div class="stats w3-quarter">
    </div>
    <div class="avatar-wrap w3-quarter">
      <%= cl_image_tag @user.avatar_url, :width=>200, :crop=>"scale" %>
    </div>
    <div class="user-info w3-third">
      <h2><%= @user.email %></h2>
      <%= render "shared/stats" %>
      <%= render "follow_form" %>
    </div>
  </div>
</div>
<div class="content">
  <h2><%= t :recent_activities %></h2>
  <%= render_activities @activities %>
</div>
