<% if user_signed_in? %>
  <nav class="w3-sidenav w3-collapse w3-white"
    style="z-index:3;width:250px;" id="mySidenav"><br>
    <div class="w3-container text-center">
      <%= cl_image_tag current_user.avatar_url, style: "width:100%" %>
      <h4 class="w3-padding-0"><b><%= current_user.name %></b></h4>
      <h4 class="w3-padding-0"><b><%= current_user.email %></b></h4>
      <h4 class="w3-padding-0"><b> Learned :<%= Word.distinct_count(current_user).size %> Word</b></h4>
    </div>
    <h4 class="label label-info" id="follow"><b><%= current_user.followers.size %></b></h4>
    <%= t :follower %>
    <h4 class="label label-info" id="follow"><b><%= current_user.following.size %></b></h4>
    <%= t :following %>
    <%= social_share_button_tag(@current_user.name, class: "social_share", 
      :url => "https://fels169.herokuapp.com/") %>
  </nav>
<% end %>
